name: Build documentation
on:
  # Runs on pushes targeting the default branch
  pull_request:
    branches:
      - "release"
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/fenics/dolfinx/dolfinx:stable
    env:
      DEB_PYTHON_INSTALL_LAYOUT: deb_system
      PUBLISH_DIR: ./_build/html

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install dependencies
        run: python3 -m pip install ".[docs]"

      - name: Build docs
        run: jupyter book build -W .

      - name: Upload documentation
        uses: actions/upload-artifact@v6
        with:
          name: documentation
          path: ./_build/html
          if-no-files-found: error
